<h1><%= @article.title %></h1>

<p class="m-sm-2"><%= @article.content %></p>

<% if current_user.email == @article.creator %>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
<% end %>

<div class="comment m-sm-2">

<%= render 'comments/form' %>

<h2>Комментарии</h2>
<%= render @article.comments %>

</div>

